@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .html,
  body {
    cursor: none;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #efc0043b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #efbf04;
}
